.wrapper {
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
}

.inputGen {
    padding: 10px;
    font-size: 20px;
    border: 8px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    color: #333;
    width: 30%;
    left: 25%;
    top: 35%;
}

.superInput {
    background: rgba(255, 255, 255, 0.5);
    /*margin-bottom: 20px;*/
}

.errorInput {
    background: red;
}

.error {
    font-size: 20px;
    color: red;
}