@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&display=swap');

.wrapper {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 200px;*/
    /*height: 100px;*/
    /*background-color: lightsteelblue;*/
}

.someClass {
    color: red;
}

.error {
    border: 1px solid red;
}

.counter {
    margin-left: 5px;
    /*color: darkblue;*/
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.button {
    border: 2px solid black;
    background-color: lightsteelblue;
    /*color: darkblue;*/
    font-family: 'Big Shoulders Stencil Text', cursive;
}
